body{
    color:#FFFFFF !important;
    font-family: Anton !important;
    font-weight: bold !important;
}


#tempAndSign{
    margin-left:0px;
    display:block;
    float:left;
    
}
#title{
    margin-top: 1%;
    padding:60px 30px 10px 30px;
    font-style: italic;
    
}
#name{
    padding:25px;
}
#main-content{
    background: rgba(64,64,64, 0.3) ;
    margin-top: 8%;
    
}

a:hover {
    text-decoration: none;
    
}

#change{
    padding-right: 9px;
    
}
