body {
    font-size: 100% ;
}
#main-body{
    color:#FFFFFF ;
    font-family: Anton;
    
    
}


#tempAndSign{
    margin-left:0px;
    display:block;
    float:left;
    
}
#title{
    margin-top: 1em;
    padding:60px 30px 10px 30px;
    font-style: italic;
    font-size:10em;
    
}
#name{
    padding:25px;
    font-size:9em;
}
#main-content{
    background: rgba(64,64,64, 0.3) ;
    margin-top: 8em ;
    
}


#change{
    padding-right: 9px;
    font-size:1.8em;
}

#temp{
     font-size:9em;
    margin-left: 40px;
}

#description{
     font-size:9em;
}
#graph{
    height: 120px;
    width: 120px;
}